@{
    ViewBag.Title = "BOM Viewer";
}


<!-- load the d3.js library -->
<script src="http://d3js.org/d3.v3.min.js"></script>
<div ng-controller="BomController">

</div>

@section scripts {
    @Scripts.Render("~/Views/Bom/bom-controller.js")
}