@{
    ViewBag.Title = "Part Allocation Status";
}

<div ng-controller="AllocationController" id="container">
    <div class="row mb-5">
        <div class="col-3">
            <select class="custom-select" ng-options="part.Name for part in parts | orderBy: part.Name" ng-model="selectedPart"></select>
        </div>
        <div class="col-2">
            <button class="btn btn-info" ng-click="loadBom(selectedPart.PartID)">Load Status</button>
        </div>
    </div>

    <div class="container border rounded">
        <div class="row mb-3 mt-2 ml-2">
            <div class="col-3 border rounded">
                <h6 class="display-4"> {{ allocationStatus.PartNumber }} </h6>
            </div>
            <div class="col-9">
                <div>
                    Leadtime: {{ allocationStatus.Leadtime }}
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <td colspan="4" class="text-center bg-success text-light rounded-top">
                        <strong>Demand</strong>
                    </td>
                    <td colspan="1" class="text-center bg-light"> </td>
                    <td colspan="4" class="text-center bg-primary text-light rounded-top">
                        <strong>Supply</strong>
                    </td>
                </tr>
                <tr>
                    <th scope="col">
                        Name
                    </th>
                    <th scope="col">
                        Part
                    </th>
                    <th scope="col">
                        Due Date
                    </th>
                    <th scope="col">
                        Start Date
                    </th>
                    <th>
                        Allocation Qty
                    </th>
                    <th scope="col">
                        Name
                    </th>
                    <th scope="col">
                        Quantity
                    </th>
                    <th scope="col">
                        Due Date
                    </th>
                    <th scope="col">
                        Start Date
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="alloc in allocationStatus.Details">
                    <td>
                        {{ alloc.ParentObjectName }}
                    </td>
                    <td>
                        {{ alloc.ParentPartNumber }}
                    </td>
                    <td>
                        {{ alloc.ParentDueDate | date:'yyyy-MM-dd' }}
                    </td>
                    <td>
                        {{ alloc.ParentStartDate | date:'yyyy-MM-dd' }}
                    </td>
                    <td>
                        {{ alloc.AllocationQuantity }}
                    </td>
                    <td>
                        {{ alloc.ObjectName }}
                    </td>
                    <td>
                        {{ alloc.SupplyQuantity }}
                    </td>
                    <td>
                        {{ alloc.DueDate | date:'yyyy-MM-dd' }}
                    </td>
                    <td>
                        {{ alloc.StartDate | date:'yyyy-MM-dd' }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Views/Allocation/allocation-controller.js")
}