@{
    ViewBag.Title = "Run Summary";
}

<div ng-controller="SummaryController">

    <!-- Not sure that I like using z-index here, but best way I found to make it work so far-->
    <div class="position-absolute" style="left:75%; z-index:999">
        <div class="toast" role="alert" data-delay="2000" data-autohide="true">
            <div class="toast-header bg-success">
                MRP
            </div>
            <div class="toast-body">
                Run completed
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <button type="button" class="btn btn-primary" ng-click="runMRP()"> Run MRP </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        MRP Runs
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        RunID
                                    </th>
                                    <th scope="col">
                                        Start Date
                                    </th>
                                    <th scope="col">
                                        End Date
                                    </th>
                                    <th scope="col">
                                        Status
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="run in runs">
                                    <td>
                                        {{run.RunID}}
                                    </td>
                                    <td>
                                        {{run.StartDate | date:'short'}}
                                    </td>
                                    <td>
                                        {{run.EndDate | date:'short'}}
                                    </td>
                                    <td>
                                        <span class="badge" ng-class="{'badge-warning': run.Status == 'In Progress','badge-success': run.Status == 'Completed', 'badge-danger': run.Status == 'Canceled' }">
                                            {{run.Status}}
                                        </span>
                                    </td>
                                    <td>
                                        <i class="fa fa-info-circle text-secondary" ng-click="loadDetails(run.RunID)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Details
                    </div>
                    <div class="card-body">
                        <div ng-if="detailExists()">
                            <div>
                                Elapsed Time: {{detail.ElapsedMinutes}} minutes
                            </div>
                            <br />
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            Scheduled Object Type
                                        </th>
                                        <th scope="col">
                                            Count
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in detail.Items">
                                        <td>
                                            {{ item.Type }}
                                        </td>
                                        <td>
                                            {{ item.Count }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts {
    @Scripts.Render("~/Views/Summary/summary-controller.js")
}

