@{
    ViewBag.Title = "Home Page";
}

<div class="card">
    <div class="card-header">
        Test
    </div>
    <div class="card-body">
        See if the css is really working here
    </div>
</div>